<h1>Videoposts#index</h1>
<p>※投稿記事の一覧</p>

<table>
    <tr>
        <th>Id</th><th>title</th><th>read</th><th>url</th>
            <th>genre</th><th colspan="2"></th><th>movie</th>
    </tr>
    <% @data.each do |obj| %>
    <tr>
        <td><%= obj.id %></td>
        <td><%= obj.title %></td>
        <td><%= obj.read %></td>
        <td><%= obj.url %></td>
        <td><%= obj.videogenre.name %></td>
        <td><a href="/videoposts/<%= obj.id %>">Edit</a></td>
        <td><a href="/videoposts/delete/<%= obj.id %>">Delete</a></td>
        <td><iframe width="200" height="100" src="<%= obj.url %>" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></td>
    </tr>
    <% end %>
</table>
<p><a href="/videoposts/add">新規作成＞＞</a></p>